:root {
  --value: 40%;
  --back-color: #EBECF0;
}

.task-item {
  overflow: hidden;
}
.task-details-btn {
  float: right;
  font-size: .8em;
}

.neumorphic-task-item {
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
  transition: box-shadow .25s ease !important;
}
